
{% extends 'sitebase.html' %}
{% load static %}
{% block content%}
    {% block css %}
    <style>
        .pub:hover {
            transform: scale(1.05);
        }

        .card-header {
            overflow: hidden;
        }

        .pub {
            transition: transform 0.3s ease;
        }
    </style>

{% endblock %}
{% include 'site_nav.html' %}
    {% for info_du_site in info_du_site %}
    <header class="header-2">
        <div class="page-header min-vh-75 relative" style="background-image: url('{{ info_du_site.homepage_image.url }}')">
            <span class="mask bg-gradient-primary opacity-4"></span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 text-center mx-auto">
                        <h1 class="text-white pt-3 mt-n5">Un enfant, une famille</h1>
                        <p class="lead text-white mt-3">S'occuper d'un enfant c'est <br/>sauver une vie  </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endfor %}
    <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
        <section class="py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="mb-5">Nouveaux articles</h3>
                    </div>
                </div>

                <div class="row flex-nowrap overflow-auto">
                    {% for publication in publication %}
                        <div class="col-lg-3 col-sm-6 mb-4" style="margin-bottom: 200px;">
                            <div class="card card-plain" style="max-width: 300px;"> <!-- Ajout de max-width -->
                                <div class="card-header p-0 position-relative">
                                    <a href="{% url 'site:publication_detail' pk=publication.id %}" class="text-info text-sm icon-move-right">
                                        <img src="{{ publication.image.url }}" alt="img-blur-shadow" class="pub img-fluid shadow border-radius-lg" loading="lazy" style="max-width: 100%; max-height: 150px;"> <!-- Ajout de max-width et max-height -->
                                    </a>
                                </div>
                                <div class="card-body px-0">
                                    <h5>
                                        <a href="javascript:;" class="text-dark font-weight-bold">{{ publication.title }}</a>
                                    </h5>
                                    <p>
                                        {{ publication.content|truncatewords:20|safe }}
                                        <style>
                                            .card-body img {
                                                max-width: 50%;
                                                height: auto;
                                            }
                                        </style>
                                    </p>
                                        <i class="fas fa-arrow-right text-xs ms-1"></i>


                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/service-worker.js')
                .then(function(registration) {
                    console.log('Service Worker enregistré avec succès:', registration);
                })
                .catch(function(error) {
                    console.error('Erreur d'enregistrement du Service Worker:', error);
                });
        }
    </script>



{% endblock %}